@charset"UTF-8";

body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
p {
    background-color: rgb(214, 179, 247);
    color: aliceblue;
}